@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.contentWrapper {
  padding: 0.2rem 0.8rem 0 0.2rem;
  word-wrap: break-word;
  display: block;
  margin: 0 auto;
  background-color: $iconsBackground;
  border-radius: 1rem;
}

.currentEmojiList {
  display: block;
}

.emojiWrapper {
  margin-right: -1rem;
  display: flex;
  margin: 0 auto;
  height: 16rem;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 0.4rem;
  @extend .container;
}

.emojiRow {
  @extend .row;
}

.iconCategoryHeading {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 0 0.2rem 0.5rem;
}

.emojis {
  display: block;
  margin: 0 auto;
  width: 72rem;
  @extend .col-4;
}

.emojiIcons {
  display: inline-block;
  padding: 0.3rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  border: 0.1rem solid $iconsBackground;
}
.emojiIcons:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: $shadow;
  border: 0.1rem solid $shadow;
  border-radius: 0.4rem;
}

.emojiList {
  display: none;
}
