@import '../../themes/colors.scss';
@import '../../../node_modules//bootstrap/scss/bootstrap.scss';

.chatInputPage {
  background: $pageBackground;
  height: 100vh;
}

.inputWrapper {
  margin: 0 auto;
}

.inputArea {
  background: $inputBackground;
  margin: 5rem auto;
  box-shadow: 0 1px 8px $shadow;
  width: 25rem;
  border-radius: 8px;
  padding: 2rem;
}

.heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  @extend .text-dark;
}

.input {
  @extend .form-control;
}

.inputForm {
  margin-bottom: 0;
}

.inputIcon {
  color: $iconsColor;
  display: flex;
  position: relative;
  bottom: 1.6rem;
  left: 19rem;
}
.inputIcon:hover {
  color: $pageBackground;
  cursor: pointer;
}
.submitBtn {
  color: $pageBackground;
  font-weight: bold;
  width: 100%;
  box-shadow: 0 1px 8px $shadow;
  @extend .btn;
  @extend .btn-outline-secondary;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: $pageBackground;
}

.inputWrapper {
  @extend .input-group;
  @extend .mb-3;
}

.inputField {
  @extend .form-control;
}
