$pageBackground: #264653;
$inputBackground: #fcf4efc5;
$shadow: #a5a58d;

$iconsBackground: #f5f0f0;
$borderColor: #c7c4c4;

$iconsColorActive: #575656;
$iconsBorderActive: #305014;

$iconsColor: #797878;

$white: #fff;
