@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.search {
  background-color: $iconsBackground;
  padding-right: -0.2rem;
}

.searchInput {
  font-size: 0.6rem;
  padding: 0.5rem 0.5rem;
  margin-bottom: -1rem;
}

.searchInputField {
  background: $white;
  width: 27.6rem;
  border: none;
  height: 2rem;
  text-indent: 1.7rem;
  @extend .form-control;
}

.searchIcon {
  font-size: 1.5rem;
  color: $iconsColor;
  display: flex;
  position: relative;
  bottom: 1.2rem;
  right: -1rem;
  width: 2rem;
}

.searchResultsWrapper {
  padding: 0.2rem 0.7rem 0 0.2rem;
}

.searchResults {
  padding-right: 0.6rem;
  height: 5rem;
  overflow: scroll;
  overflow-x: hidden;
}
